{% load static %}

<div class="section-header">
    <h3 class="section-title">Comments (3)</h3>
    <img src="{% static " images/wave.svg" %}" class="wave" alt="wave" />
</div>
<!-- post comments -->
<div class="comments bordered padding-30 rounded">

    <ul class="comments">
        <!-- comment item -->
        <li class="comment rounded">
            <div class="thumb">
                <img src="{% static " images/wave.svg" %}" alt="John Doe" />
            </div>
            <div class="details">
                <h4 class="name"><a href="#">John Doe</a></h4>
                <span class="date">Jan 08, 2021 14:41 pm</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae odio ut
                    tortor fringilla cursus sed quis odio.</p>
                <a href="#" class="btn btn-default btn-sm">Reply</a>
            </div>
        </li>
        {% comment %} <!-- comment item -->
        <li class="comment child rounded">
            <div class="thumb">
                <img src="images/other/comment-2.png" alt="John Doe" />
            </div>
            <div class="details">
                <h4 class="name"><a href="#">Helen Doe</a></h4>
                <span class="date">Jan 08, 2021 14:41 pm</span>
                <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit
                    amet adipiscing sem neque sed ipsum.</p>
                <a href="#" class="btn btn-default btn-sm">Reply</a>
            </div>
        </li>
        <!-- comment item -->
        <li class="comment rounded">
            <div class="thumb">
                <img src="images/other/comment-3.png" alt="John Doe" />
            </div>
            <div class="details">
                <h4 class="name"><a href="#">Anna Doe</a></h4>
                <span class="date">Jan 08, 2021 14:41 pm</span>
                <p>Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum primis
                    in faucibus orci luctus et ultrices posuere cubilia.</p>
                <a href="#" class="btn btn-default btn-sm">Reply</a>
            </div>
        </li> {% endcomment %}
    </ul>
</div>