# Python/Django specific
*.py[cod]
__pycache__/
*.so
*.log

# Django specific
media/
staticfiles/
*.pot
*.pyc
.env
.vscode/
venv/
venv/*
e-nvs/
envs
*.swp
migrations/
secrets.json

# IDE specific
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS specific
.DS_Store

# Windows specific
Thumbs.db

# Pycharm specific
*.iml

